* {
	background-color: #222222;
	color: #e6e6e6;
}

html {
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000000;
}

body {
	padding: 1px 12px;
	height: 100%;
	margin: 0;
}

h1 {
	border-bottom: 3px double #e6e6e6;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	border-bottom: 1px dashed #e6e6e6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.footer {
	font-size: 0.4em;
	font-style: italic;
	text-align: center;
	margin-top: 100px;
}
